<header>
  <nav class="navbar">
    <div class="container">
      <div class="nav-logo">
        <a href="index.html">
          <h2>Amit</h2>
        </a>
      </div>
      
      <ul class="nav-menu">
        <li><a href="index.html" class="nav-link">Home</a></li>
        <li><a href="resume.html" class="nav-link">Resume</a></li>
        <li><a href="projects.html" class="nav-link">Projects</a></li>
        <li><a href="solutions-engineering.html" class="nav-link">Solutions</a></li>
        <li><a href="devops.html" class="nav-link">DevOps</a></li>
        <li><a href="blogs.html" class="nav-link">Blogs</a></li>
        <li><a href="contact.html" class="nav-link">Contact</a></li>
      </ul>
      
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </div>
  </nav>
</header>